<!-- 確認字串的前4是否不為"http"，是：在字串前面加入"https://"，否:直接輸出 -->
def add_https(str)
	if str.blank?
		return ""
	elsif str[0..3] != 'http'
		return "https://"+str
	else
		return str
	end
end



        <tr>
            <% yfcasefullname = @yfcase.user.first_name + @yfcase.user.last_name %>
            <% currentfullname = current_user.first_name + current_user.last_name %>
            <th class="xg1100 font-th">結論</th>
            <th class="xg1200 font-th">區域負責人</th>
            <th class="xg1300 font-th">
                <% if @yfcase.final_decision.blank? %>
                    <%= '副署人員1' %>
                <% elsif yfcasefullname == currentfullname %>
                    <div style="color:red;font-size:12pt;vertical-align:middle;">負責人不可為副署人員1</div>
                <% else %>
                    <% if @yfcase.subsigntrueas.first == nil && %>
                         <%= link_to "副署人員1", new_yfcase_subsigntruea_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                         <%= link_to "副署人員1", yfcase_path(@yfcase), :disabled => true,class: "btn btn-danger btn-sm", style: "border:1px solid gray;background-color:gray;" %>
                    <% end %>
                <% end %>    
            </th>
            <th class="xg1400 font-th">
                副署人員2
                <% if @yfcase.final_decision == " " %>
                    <%= ' ' %>
                <% else %>
                    <% if @yfcase.subsigntruebs.first == nil %>
                         <%= link_to "副署人員2", new_yfcase_subsigntrueb_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                         <%= link_to "副署人員2", yfcase_path(@yfcase), :disabled => true,class: "btn btn-danger btn-sm", style: "border:1px solid gray;background-color:gray;" %>
                    <% end %>
                <% end %>
            </th>
            <th class="xg1500 font-th">
                副署人員3
                <% if @yfcase.final_decision == " " %>
                    <%= ' ' %>
                <% else %>
                    <% if @yfcase.subsigntruecs.first == nil %>
                         <%= link_to "副署人員3", new_yfcase_subsigntruec_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                         <%= link_to "副署人員3", yfcase_path(@yfcase), :disabled => true,class: "btn btn-danger btn-sm", style: "border:1px solid gray;background-color:gray;" %>
                    <% end %>
                <% end %>
            </th>
        </tr>