<!-- 確認字串的前4是否不為"http"，是：在字串前面加入"https://"，否:直接輸出 -->
def add_https(str)
	if str.blank?
		return ""
	elsif str[0..3] != 'http'
		return "https://"+str
	else
		return str
	end
end

def buttonyeson(bool)
	if bool == true
		data = "
			<span style='color: Blue;'><i class='fa fa-check-circle fa-2x'></i></span><span style='color: gray;'><i class='fa fa-circle fa-2x'></i></span>
			<span style='color: gray;'><i class='fa fa-circle fa-2x'></i></span>
			<span style='color: Red;'><i class='fa fa-times-circle fa-2x'></i></span>
		"
		data.html_safe
	end
end


<p id="notice"><%= notice %></p>

<% if <@yfcase class="personnals"></@yfcase>.present? %>
    <%= @yfcase.personnals.first.identity_card.split(//)[2] %>
<% else %>
    <%= "" %>
<% end %>

<% @yfcase.personnals.each do |p| %>
    <%= address(p.person_country,p.person_township,p.person_village,p.person_neighbor,p.person_street,p.person_section,p.person_lane,p.person_alley,p.person_number,p.person_floor) %>
<% end %>


<% if @yfcase.editable_by?(current_user) && @yfcase.subsigntrueas.blank? %>
    <div id="showitem">
        <%= link_to '轉換成(PDF)', yfcase_path(@yfcase, format: "pdf"),class: "btn btn-success" %>
    	<%= link_to '編輯', edit_yfcase_path(@yfcase),class: "btn btn-primary" %> |
        <%= link_to '返回', yfcases_path,class: "btn btn-info" %>
    </div>
<% else %>
    <div id="showitem">
        <%= link_to '返回', yfcases_path,class: "btn btn-info" %>
    </div>
<% end %>