<div class="nested-fields">
    <div class="field" style="background-color: #eee">
        <div class="row mb-2" style="padding:10px;">
            <div class="col-md-4 mb-2">
                <%= f.label :address,"地址" %>
                <%= f.text_field :address, class: "form-control" %>
            </div>
            <div class="col-md-2 mb-2">
                <%= f.label :total_price,"總價" %>
                <%= f.text_field :total_price, class: "form-control" %>
            </div>
            <div class="col-md-2 mb-2">
                <%= f.label :build_area,"建坪(坪)" %>
                <%= f.text_field :build_area, class: "form-control" %>
            </div>
            <div class="col-md-2 mb-2">
                <%= f.label :house_age,"屋齡(年)" %>
                <%= f.text_field :house_age, class: "form-control" %>
            </div>
            <div class="col-md-2 mb-2">
                <%= f.label :floor_height,"樓高" %>
                <%= f.text_field :floor_height, class: "form-control" %>
            </div>
            <div class="col-md-10 mb-2">
                <%= f.label :objectbuild_url,"附件連結" %>
                <%= f.text_field :objectbuild_url, class: "form-control" %>
            </div>
            <div class="col-md-2 mb-2">
                項目
                <%= link_to_remove_association "刪除物件", f, class: "btn btn-outline-danger btn-sm form-control" %>
            </div>
        </div>
        <!--  
                    <th><%= f.label :surveyora,"勘查員A" %></th>
                    <th><%= f.label :plusa,"加成A" %></th>
                    <th><%= f.label :surveyorb,"勘查員B" %></th>
                    <th><%= f.label :plusb,"加成B" %></th>
                -->
        <!--  
                    <td><%= f.text_field :surveyora, size: "8" %></td>
                    <td><%= f.text_field :plusa, size: "4" %></td>
                    <td><%= f.text_field :surveyorb, size: "8" %></td>
                    <td><%= f.text_field :plusb, size: "4" %></td>
                -->
    </div>
</div>