<div class="nested-fields">
    <div class="field" style="border:1px solid #000;">
        <table>
            <table class="table">
                <tr>
                    <td scope="col" style="width:15%;">
                        <div class="form-check">
                            <%= f.check_box :is_debtor %> 債務人
                        </div>
                        <div class="form-check">
                            <%= f.check_box :is_creditor %> 債權人
                        </div>
                        <div class="form-check">
                            <%= f.check_box :is_land_owner %> 土地共有人
                        </div>
                        <div class="form-check">
                            <%= f.check_box :is_build_owner %> 建物共有人
                        </div>
                        
                        <div class="form-check">
                            <%= f.check_box :is_original_owner %> 原所有權人
                        </div>
                        <div class="form-check">
                            <%= f.check_box :is_new_owner %> 新所有權人
                        </div>
                        <div class="form-check">
                            <%= f.check_box :is_deed_tax_agent %> 契稅代理人
                        </div>
                        <div class="form-check">
                            <%= f.check_box :is_tax_agent %> 納稅代理人
                        </div>
                        <div class="form-check">
                            身分代號
                            <%= f.select(:identity_code,Personnal::ID_CODE_LIST,{}, { :class => 'form-control' }) %>
                        </div>
                        <div class="form-check">
                            公有/私人
                            <%= f.select(:public_or_private,Personnal::PUBLIC_LIST,{}, { :class => 'form-control' }) %>
                        </div>

                    </td>
                    <td scope="col" style="width:85%;">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <%= f.text_field :name, class: "form-control",placeholder: "請輸入姓名" %>
                            </div>
                            <div class="form-group col-md-3">

                                <%= f.text_field :identity_card, class: "form-control",placeholder: "請輸入身分証(統一編號)" %>
                            </div>
                            <div class="form-group col-md-6">

                                <%= f.date_field :birthday, class: "form-control",placeholder: "請輸入生日" %>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">

                                <%= f.text_field :local_phone, class: "form-control",placeholder: "請輸入市內電話" %>
                            </div>
                            <div class="form-group col-md-4">

                                <%= f.text_field :mobile_phone, class: "form-control",placeholder: "請輸入手機號碼" %>
                            </div>
                            <div class="form-group col-md-4">

                                <%= f.text_field :personnal_notes, class: "form-control",placeholder: "請輸入備註" %>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <%= f.text_field :person_country, class: "form-control",placeholder: "縣市" %>
                            </div>
                            <div class="form-group col-md-3">
                                <%= f.text_field :person_township, class: "form-control",placeholder: "鄉鎮" %>
                            </div>
                            <div class="form-group col-md-3">
                                <%= f.text_field :person_village, class: "form-control",placeholder: "村里" %>
                            </div>
                            <div class="form-group col-md-1">
                                <%= f.text_field :person_neighbor, class: "form-control",placeholder: "鄰" %>
                            </div>
                            <div class="form-group col-md-3">
                                <%= f.text_field :person_street, class: "form-control",placeholder: "街路" %>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <%= f.text_field :person_section, class: "form-control",placeholder: "段" %>
                            </div>
                            <div class="form-group col-md-3">
                                <%= f.text_field :person_lane, class: "form-control",placeholder: "巷" %>
                            </div>
                            <div class="form-group col-md-2">
                                <%= f.text_field :person_alley, class: "form-control",placeholder: "弄" %>
                            </div>
                            <div class="form-group col-md-2">
                                <%= f.text_field :person_number, class: "form-control",placeholder: "號" %>
                            </div>
                            <div class="form-group col-md-2">
                                <%= f.text_field :person_floor, class: "form-control",placeholder: "樓" %>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <%= f.text_field :right_share_person, class: "form-control",placeholder: "權利持分比例(個人)" %>
                            </div>
                            <div class="form-group col-md-6">
                                <%= f.text_field :right_share_all, class: "form-control",placeholder: "權利持分比例(所有)" %>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </table>
    </div>
</div>

