<p id="notice"><%= notice %></p>

<h1>Yfcases</h1>

<table>
  <thead>
    <tr>
      <th>Case number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yfcases.each do |yfcase| %>
      <tr>
        <td><%= yfcase.case_number %></td>
        <td><%= link_to 'Show', yfcase %></td>
        <td><%= link_to 'Edit', edit_yfcase_path(yfcase) %></td>
        <td><%= link_to 'Destroy', yfcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yfcase', new_yfcase_path %>
