<p id="notice">
    <%= notice %>
</p>
<h1>YF評量表</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>操作</th>
            <th>案號</th>
            <th>項目</th>
        </tr>
    </thead>
    <tbody>
        <% @yfcases.each do |yfcase| %>
        <tr>
            <% if yfcase.editable_by?(current_user) %>
            <!--
            <td>
                <%= link_to edit_yfcase_path(yfcase) do %>
                    <%= fa_icon "edit",class: "fa-2x" %>
                 <% end %>
            </td>
            -->
            <td>
                <%= link_to yfcase, method: :delete, data: { confirm: '你(妳)確定要刪除嗎?' } do %>
                <%= fa_icon "window-close",class: "fa-2x" %>
                <% end %>
            </td>
            <% end %>
            <td>
                <%= link_to yfcase_path(yfcase) do %>
                <%= yfcase.case_number %>
                <% end %>
            </td>
            <td>
                (修改中，暫不開放)
            </td>
           
        </tr>
        <% end %>
    </tbody>
</table>
<br>