<p id="notice"><%= notice %></p>

<!-- YF評量表 -->
<h1 class="x110000">YF評量表</h1>
<% if @yfcase.personnals.present? %>
    <%= @yfcase.personnals.first.identity_card.split(//)[2] %>
<% else %>
    <%= "" %>
<% end %>

<% @yfcase.personnals.each do |p| %>
    <%= address(p.person_country,p.person_township,p.person_village,p.person_neighbor,p.person_street,p.person_section,p.person_lane,p.person_alley,p.person_number,p.person_floor) %>
<% end %>


<!-- 基本資料 -->
<div class="basedata" style="width:1000px;">
    <table style="border:3px solid black;">
        <tr>
            <th class="xa1100 font-th">案號</th>
            <td class="xa1200 font-td"><%= @yfcase.case_number %></td>
            <th class="xa1300 font-th">債務人</th>
            <td class="xa1400 font-td">
            	<% if @yfcase.personnals.where(is_debtor: true).count > 1 %>
                    <%= @yfcase.personnals.where(is_debtor: true).first.name %> ...共<%= @yfcase.personnals.where(is_debtor: true).count %>名<br>
                    <%= (@yfcase.co_owner == true ) ? '土地/建物共有人一致' : ' ' %>
                <% elsif @yfcase.personnals.where(is_debtor: true).count == 1 %>
                    <%= @yfcase.personnals.where(is_debtor: true).first.name %><br>
                    <%= (@yfcase.co_owner == true ) ? '土地/建物共有人一致' : ' ' %>
                <% else %>
                    <%= ' ' %>
                <% end %>
            </td>
            <th class="xa1500 font-th">債務人</th>
            <td class="xa1600 font-td">
                <% if @yfcase.personnals.where(is_creditor: true).count > 1 %>
                    <%= @yfcase.personnals.where(is_creditor: true).first.name %> ...共<%= @yfcase.personnals.where(is_creditor: true).count %>名
                <% elsif @yfcase.personnals.where(is_creditor: true).count == 1 %>
                    <%= @yfcase.personnals.where(is_creditor: true).first.name %>
                <% else %>
                    <%= ' ' %>
                <% end %>
            </td>
        </tr>
        <tr>
            <th class="xa2100 font-th">住址</th>
            <td class="xa2200 font-td" colspan="5">
                <%= @yfcase.township.try(:zip_code) %> <%= @yfcase.country.try(:name) %><%= \
                @yfcase.township.try(:name) %><%= @yfcase.other_address %>
            </td>
        </tr>
    </table>
</div>
<br>

<!-- 土地 -->
<div class="land" style="width:1000px;">
    <table>
        <tr>
            <th class="xb1100 font-th">地號</th>
            <th class="xb1200 font-th">地號謄本</th>
            <th class="xb1300 font-th">地坪(面積)<br>平方公尺(坪)</th>
            <th class="xb1400 font-th">持分</th>
            <th class="xb1500 font-th">地坪(持分)<br>平方公尺(坪)</th>
            <td class="xb1600 font-th"></td>
            <th class="xb1700 font-th">地坪(面積)<br>平方公尺(坪)</th>
            <td class="xb1800 font-th"></td>
            <th class="xb1900 font-th">建坪(面積)<br>平方公尺(坪)</th>
        </tr>
        <tr>
            <td class="xb2100 font-td">
                <% @yfcase.lands.each do |land| %>
                    <%= land.land_number %><br>
                <% end %>
            </td>
            <td class="xb2200 font-td">
                <% @yfcase.lands.each do |land| %>
                    <%= land.land_url == "" ? ' ' : (link_to "連結", land.land_url, target: "_blank") %><br>
                <% end %>
            </td>
            <td class="xb2300 font-td">
                <% @yfcase.lands.each do |land| %>
                    <%= area(land.land_area,1,1,1).round(2) %>(<%= area(land.land_area,1,1,0.3025).round(2) %>)<br>
                <% end %>
            </td>
            <td class="xb2400 font-td">
                <% @yfcase.lands.each do |land| %>
                    <%= land.land_holding_point_personal %>/<%= land.land_holding_point_all %><br>
                <% end %>
            </td>
            <td class="xb2500 font-td">
                <% @yfcase.lands.each do |land| %>
                    <%= area(land.land_area,land.land_holding_point_personal,land.land_holding_point_all,1).round(2) %>(<%= area(land.land_area,land.land_holding_point_personal,land.land_holding_point_all,0.3025).round(2) %>)<br>
                <% end %>
            </td>
            <td class="xb2600 font-td"></td>
            <td class="xb2700 font-td">
                <%= @yfcase.lands.count == 0 ? ' ' : (number_to_currency(@landtotalarea, unit: "", precision: 2)+"("+number_to_currency(@landtotalarea * 0.3025, unit: "", precision: 2)+")") %><br>
            </td>
            <td class="xb2800 font-td"></td>
            <td class="xb2900 font-td">
                <%= @yfcase.builds.count == 0 ? ' ' : (number_to_currency(@buildtotalarea, unit: "", precision: 2)+"("+number_to_currency(@buildtotalarea * 0.3025, unit: "", precision: 2)+")") %><br>
            </td>
        </tr>
    </table>
</div>
<br>  


<!-- 建物 -->
<div class="build" style="width:1000px;">
    <table>
        <tr>
            <th class="xc1100 font-th">建號</th>
            <th class="xc1200 font-th">建號謄本</th>
            <th class="xc1300 font-th">建坪(面積)<br>平方公尺(坪)</th>
            <th class="xc1400 font-th">持分</th>  
            <th class="xc1500 font-th">建坪(持分)<br>平方公尺(坪)</th>
            <th class="xc1600 font-th">建物型/使用</th>
            <th class="xc1700 font-th">使用分區</th>
        </tr>
        <tr>
            <td class="xc2100 font-td">
        <% @yfcase.builds.each do |build| %>
                <%= build.build_number %><br>
        <% end %>
            </td>
            <td class="xc2200 font-td">
        <% @yfcase.builds.each do |build| %>
                <% if build.build_url == "" %>
                <%= link_to " " %> <br>
                <% else%>
                <%= link_to "連結", build.build_url, target: "_blank" %><br>
                <% end %>
        <% end %>
            </td>
            <td class="xc2300 font-td">
        <% @yfcase.builds.each do |build| %>
                <%= area(build.build_area,1,1,1).round(2) %> (
                <%= area(build.build_area,1,1,0.3025).round(2) %>)<br>
        <% end %>
            </td>
            <td class="xc2400 font-td">
        <% @yfcase.builds.each do |build| %>
                <%= build.build_holding_point_personal %>/
                <%= build.build_holding_point_all %><br>
        <% end %>
            </td>
            <td class="xc2500 font-td">
        <% @yfcase.builds.each do |build| %>
                <%= area(build.build_area,build.build_holding_point_personal,build.build_holding_point_all,1).round(2) %> (
                <%= area(build.build_area,build.build_holding_point_personal,build.build_holding_point_all,0.3025).round(2) %>)<br>
        <% end %>
            </td>
            <td class="xc2600 font-td">
        <% @yfcase.builds.each do |build| %>
                <%= build.build_type_use %><br>
        <% end %>
            </td>
            <td class="xc2700 font-td">
        <% @yfcase.builds.each do |build| %>
                <%= build.use_partition %><br>
        <% end %>
            </td>
        </tr>
    </table>
</div>
<br>

<!-- 拍賣結果 -->
<div class="auction">
    <table class="table">
        <tr>
            <th>拍賣日</th>
            <th colspan="4">拍別(可進場CP值)</th>
            <th>底價(NT)<br><small style="color:red;">各拍建議底價</small></th>
            <th>坪價(NT)</th>
            <th>時價(NT)</th>
            <th>CP</th>
            <th>點閱</th>
            <th>監控</th>
            <th>建議加價</th>
            <th>保証金</th>
            <th>備註</th>
        </tr>
        <!-- 第一拍 -->
        <tr>
            <!-- 拍別：第一拍 -->
            <td>
                <%= @yfcase.floor_price_1 == 0 ? ' ' : @yfcase.auction_day_1 %>
            </td>
            <th>第一拍</th>
            <th>0.92</th>
            <th>1.15</th>
            <th>1.44</th>
            <!-- 第一拍：底價 -->
            <td>
                <%= @yfcase.floor_price_1 == 0 ? ' ' : currency_helper(@yfcase.floor_price_1,0) %>
            </td>
            <!-- 第一拍：坪價 -->
            <td>
                <%= (@yfcase.floor_price_1 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice1,0) %>
            </td>
            <!-- 第一拍：時價 -->
            <td>
                <%= (@yfcase.floor_price_1 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第一拍：CP值 -->
            <td>
                <%= (@yfcase.floor_price_1 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice1).round(2) %>
            </td>
            <!-- 第一拍：點閱 -->
            <td>
                <%= @yfcase.floor_price_1 == 0 ? ' ' : @yfcase.click_1 %>
            </td>
            <!-- 第一拍：監控 -->
            <td>
                <%= @yfcase.floor_price_1 == 0 ? ' ' : @yfcase.monitor_1 %>
            </td>
            <!-- 第一拍：建議加價 -->
            <td>
                <%= @yfcase.floor_price_1 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_1,@yfcase.click_1,@yfcase.monitor_1) %>
            </td>
            <!-- 第一拍：保証金 -->
            <td>
                <%= @yfcase.floor_price_1 == 0 ? ' ' : currency_helper(@yfcase.margin_1,0) %>
            </td>
            <!-- 第一拍：備註 -->
            <td>
            </td>
        </tr>
        <!-- 第二拍 -->
        <tr>
            <!-- 拍別：第二拍 -->
            <td>
                <%= @yfcase.floor_price_2 == 0 ? ' ' : @yfcase.auction_day_2 %>
            </td>
            <th>第二拍</th>
            <th>1.15</th>
            <th>1.44</th>
            <th>1.80</th>
            <!-- 第二拍：底價 -->
            <td>
                <%= @yfcase.floor_price_2 == 0 ? ' ' : currency_helper(@yfcase.floor_price_2,0) %>
                <!-- 第二拍建議底價 -->
                <% if @yfcase.floor_price_1 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floor_price_1 * 0.8 ,0) %></small>
                <% else %>
                    <%= " " %>
                <% end %>
            </td>
            <!-- 第二拍：坪價 -->
            <td>
                <%= (@yfcase.floor_price_2 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice2,0) %>
            </td>
            <!-- 第二拍：時價 -->
            <td>
                <%= (@yfcase.floor_price_2 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第二拍：CP值 -->
            <td>
                <%= (@yfcase.floor_price_2 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice2).round(2) %>
            </td>
            <!-- 第二拍：點閱 -->
            <td>
                <%= @yfcase.floor_price_2 == 0 ? ' ' : @yfcase.click_2 %>
            </td>
            <!-- 第二拍：監控 -->
            <td>
                <%= @yfcase.floor_price_2 == 0 ? ' ' : @yfcase.monitor_2 %>
            </td>
            <!-- 第二拍：建議加價 -->
            <td>
                <%= @yfcase.floor_price_2 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_2,@yfcase.click_2,@yfcase.monitor_2) %>
            </td>
            <!-- 第二拍：保証金 -->
            <td>
                <%= @yfcase.floor_price_2 == 0 ? ' ' : currency_helper(@yfcase.margin_2,0) %>
            </td>
            <!-- 第二拍：備註 -->
            <td>

            </td>
        </tr>
        <!-- 第三拍 -->
        <tr>
            <!-- 拍別：第三拍 -->
            <td>
                <%= @yfcase.floor_price_3 == 0 ? ' ' : @yfcase.auction_day_3 %>
            </td>
            <th>第三拍</th>
            <th>1.44</th>
            <th>1.80</th>
            <th>2.25</th>
            <!-- 第三拍：底價 -->
            <td>
                <%= @yfcase.floor_price_3 == 0 ? ' ' : currency_helper(@yfcase.floor_price_3,0) %>
                <!-- 第三拍建議底價 -->
                <% if @yfcase.floor_price_1 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floor_price_1 * 0.8 * 0.8 ,0) %></small>
                <% elsif @yfcase.floor_price_2 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floor_price_2 * 0.8 ,0) %></small>
                <% else %>
                    <%= " " %>
                <% end %> 
            </td>
            <!-- 第三拍：坪價 -->
            <td>
                <%= (@yfcase.floor_price_3 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice3,0) %>
            </td>
            <!-- 第三拍：時價 -->
            <td>
                <%= (@yfcase.floor_price_3 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第三拍：CP值 -->
            <td>
                <%= (@yfcase.floor_price_3 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice3).round(2) %>
            </td>
            <!-- 第三拍：點閱 -->
            <td>
                <%= @yfcase.floor_price_3 == 0 ? ' ' : @yfcase.click_3 %>
            </td>
            <!-- 第三拍：監控 -->
            <td>
                <%= @yfcase.floor_price_3 == 0 ? ' ' : @yfcase.monitor_3 %>
            </td>
            <!-- 第三拍：建議加價 -->
            <td>
                <%= @yfcase.floor_price_3 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_3,@yfcase.click_3,@yfcase.monitor_3) %>
            </td>
            <!-- 第三拍：保証金 -->
            <td>
                <%= @yfcase.floor_price_3 == 0 ? ' ' : currency_helper(@yfcase.margin_3,0) %>
            </td>
            <!-- 第三拍：備註 -->
            <td>
            </td>
        </tr>
        <!-- 第四拍 -->
        <tr>
            <!-- 拍別：第四拍 -->
            <td>
                <%= @yfcase.floor_price_4 == 0 ? ' ' : @yfcase.auction_day_4 %>
            </td>
            <th>第四拍</th>
            <th>1.80</th>
            <th>2.25</th>
            <th>2.81</th>
            <!-- 第四拍：底價 -->
            <td>
                <%= @yfcase.floor_price_4 == 0 ? ' ' : currency_helper(@yfcase.floor_price_4,0) %>
                <!-- 第四拍建議底價 -->
                <% if @yfcase.floor_price_1 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floor_price_1 * 0.8 * 0.8 * 0.8 ,0) %></small>
                <% elsif @yfcase.floor_price_2 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floor_price_2 * 0.8 * 0.8 ,0) %></small>
                <% elsif @yfcase.floor_price_3 != 0 %>
                    <br><small style="color:red;"><%= currency_helper(@yfcase.floor_price_3 * 0.8 ,0) %></small>
                <% else %>
                    <%= " " %>
                <% end %>
            </td>
            <!-- 第四拍：坪價 -->
            <td>
                <%= (@yfcase.floor_price_4 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice4,0) %>
            </td>
            <!-- 第四拍：時價 -->
            <td>
                <%= (@yfcase.floor_price_4 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
            </td>
            <!-- 第四拍：CP值 -->
            <td>
                <%= (@yfcase.floor_price_4 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice4).round(2) %>
            </td>
            <!-- 第四拍：點閱 -->
            <td>
                <%= @yfcase.floor_price_4 == 0 ? ' ' : @yfcase.click_4 %>
            </td>
            <!-- 第四拍：監控 -->
            <td>
                <%= @yfcase.floor_price_4 == 0 ? ' ' : @yfcase.monitor_4 %>
            </td>
            <!-- 第四拍：建議加價 -->
            <td>
                <%= @yfcase.floor_price_4 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_4,@yfcase.click_4,@yfcase.monitor_4) %>
            </td>
            <!-- 第四拍：保証金 -->
            <td>
                <%= @yfcase.floor_price_4 == 0 ? ' ' : currency_helper(@yfcase.margin_4,0) %>
            </td>
            <!-- 第四拍：備註 -->
            <td>
            </td>
        </tr>
    </table>
</div>
<br>

<!-- 勘查結果 -->
<div class="attachment">
    <table class="table">
        <tr>
            <th>初勘日</th>
            <td>
                <%= @yfcase.first_survey_day %>
            </td>
        </tr>
        <tr>
            <th>會勘日</th>
            <td>
                <%= @yfcase.other_survey_day %>
            </td>
        </tr>
        <tr>
            <th>法拍公告(證物三)</th>
            <td>
                <%= link_to @yfcase.foreclosure_announcement_title, add_https(@yfcase.foreclosure_announcement_link), target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>物件照片(證物四)</th>
            <td>
                <%= link_to @yfcase.object_photo_title, add_https(@yfcase.object_photo_link) , target: "_blank" %>
            </td>
        </tr>
        <tr>
            <th>實價登錄市價</th>
            <td>
                <table class="table table-bordered">
                    <tr class="danger">
                        <th>附件</th>
                        <th>地址(屋齡)</th>
                        <th>總價(萬)</th>
                        <th>建坪(坪)</th>
                        <th>單價(萬)</th>
                        <th>樓高</th>
                        <% if user_signed_in? %>
                            <th>勘查員A</th>

                            <th>加成A</th>

                            <th>勘查員B</th>
                        <th>加成B</th>
                        <th>計算</th>
                        <% end %>
                    </tr>
                    <% @yfcase.objectbuilds.each do |objectbuild| %>
                    <tr>
                        <td>
                            <% if objectbuild.objectbuild_url == "" %>
                                <%= link_to "" %>
                            <% else %>
                                <%= link_to "連結", objectbuild.objectbuild_url, target: "_blank" %>
                            <% end %>
                        </td>
                        <td>
                            <%= objectbuild.address %>
                            <% if objectbuild.house_age.present? %>
                                <br>(<%= objectbuild.house_age %>年)
                            <% else %>
                                <%= ' ' %>
                            <% end %>
                        </td>
                        <td>
                            <%= objectbuild.total_price %>
                        </td>
                        <td>
                            <%= objectbuild.build_area %>
                        </td>
                        <td>
                            <%= holdingpoint(objectbuild.total_price,objectbuild.build_area).round(2) %>
                        </td>

                        <td>
                            <%= objectbuild.floor_height %>
                        </td>
                        <% if user_signed_in? %>
                            <td>
                                <% if objectbuild.surveyora.present? %>
                                    <%= objectbuild.surveyora %>
                                <% elsif objectbuild.surveyorb == (current_user.first_name + current_user.last_name) %>
                                    已評
                                <% else %>
                                    <%= link_to "待評分", editplusratea_yfcase_objectbuild_path(@yfcase,objectbuild),class: "btn btn-primary btn-sm" %>
                                <% end %>
                            </td>
                            <td>
                                <% @plusa=objectbuild.plusa %>
                                <%= @plusa %>
                            </td>
                            <td>
                                <% if objectbuild.surveyorb.present? %>
                                    <%= objectbuild.surveyorb %>
                                <% elsif objectbuild.surveyora == (current_user.first_name + current_user.last_name) %>
                                    已評
                                <% else %>
                                    <%= link_to "待評分", editplusrateb_yfcase_objectbuild_path(@yfcase,objectbuild),class: "btn btn-primary btn-sm" %>
                                <% end %>
                            </td>
                            <td>
                                <% @plusb=objectbuild.plusb %>
                                <%= @plusb %>
                            </td>
                            <td>
                                <% @totalmesa = testvalue(objectbuild.total_price.to_f/objectbuild.build_area.to_f,@plusa,@plusb)*10000 %>
                                <%= number_to_currency(@totalmesa, unit: "", precision: 0 ) %>
                            </td>
                        <% end %>
                    </tr>
                    <% end %>
                </table>


                <%= link_to @yfcase.net_price_registration_market_price_title, @yfcase.net_price_registration_market_price_link, target: "_blank" %>
            </td>
        </tr>

        <tr>
            <th>法拍記錄(證物七)</th>
            <td>
                <%= link_to @yfcase.auction_record_title, add_https(@yfcase.auction_record_link), target: "_blank" %>
            </td>
        </tr>

    </table>
</div>
<br>

<!-- 建物查檢表 -->
<div class="buildchecklist">
    <table class="table">
        <tr>
            <th style="width:10%;">有(是) / 無(否)</th>
            <th style="width:40%;">查檢內容</th>
            <th style="width:10%;">有(是) / 無(否)</th>
            <th style="width:40%;">查檢內容</th>
        </tr>
        <!-- 第一行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.occupy) %>
            </td>
            <th>01.建物坐落是否無占用鄰地</th>
            <td>
                <%= buttonyeson(@yfcase.vegetable_market) %>
            </td>
            <th>09.是否鄰近菜市場</th>
        </tr>
        <!-- 第二行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.register) %>
            </td>
            <th>02.建物是否無未保存登記建物</th>
            <td>
                <%= buttonyeson(@yfcase.supermarket) %>
            </td>
            <th>10.是否鄰近大賣場</th>
        </tr>
        <!-- 第三行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.parking_space) %>
            </td>
            <th>03.大樓是否有停車位(機車/汽車)</th>
            <td>
                <%= buttonyeson(@yfcase.school) %>
            </td>
            <th>11.是否鄰近學校</th>
        </tr>
        <!-- 第四行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.management_fee) %>
            </td>
            <th>04.大樓公寓是否有無積欠管理費</th>
            <td>
                <%= buttonyeson(@yfcase.park) %>
            </td>
            <th>12.是否鄰近公園</th>
        </tr>
        <!-- 第五行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.rent) %>
            </td>
            <th>05.有無出租或出借或佔用</th>
            <td>
                <%= buttonyeson(@yfcase.post_office) %>
            </td>
            <th>13.是否鄰近郵局或常用機關</th>
        </tr>
        <!-- 第六行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.leak) %>
            </td>
            <th>06.建物是否無嚴重漏水現象</th>
            <td>
                <%= buttonyeson(@yfcase.main_road) %>
            </td>
            <th>14.是否鄰近幹道</th>
        </tr>
        <!-- 第七行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.easy_parking) %>
            </td>
            <th>07.建物前或附近是否停車方便</th>
            <td>
                <%= buttonyeson(@yfcase.water_and_power_failure) %>
            </td>
            <th>15.是否斷水斷電</th>
        </tr>
        <!-- 第八行 -->
        <tr>
            <td>
                <%= buttonyeson(@yfcase.railway) %>
            </td>
            <th>08.是否鄰近捷運站或台鐵站</th>
            <td>
                <%= buttonyeson(@yfcase.good_vision) %>
            </td>
            <th>16.建物採光視野是否良好</th>
        </tr>
        <!-- 備註 -->
        <tr>
            <th>備註</th>
            <td></td>
        </tr>
    </table>
</div>
<br>

<!-- 最終判定 -->
<div class="finaldecision">
    <table class="table">
        <tr>
            <th>結論</th>
            <th>區域負責人</th>
            <th>
                副署人員1
                <% if @yfcase.final_decision == " " %>
                    <%= ' ' %>
                <% else %>
                    <% if @yfcase.subsigntrueas.first == nil && %>
                         <%= link_to "副署人員1", new_yfcase_subsigntruea_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                         <%= link_to "副署人員1", yfcase_path(@yfcase), :disabled => true,class: "btn btn-danger btn-sm", style: "border:1px solid gray;background-color:gray;" %>
                    <% end %>
                <% end %>    
            </th>
            <th>
                副署人員2
                <% if @yfcase.final_decision == " " %>
                    <%= ' ' %>
                <% else %>
                    <% if @yfcase.subsigntruebs.first == nil %>
                         <%= link_to "副署人員2", new_yfcase_subsigntrueb_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                         <%= link_to "副署人員2", yfcase_path(@yfcase), :disabled => true,class: "btn btn-danger btn-sm", style: "border:1px solid gray;background-color:gray;" %>
                    <% end %>
                <% end %>
            </th>
            <th>
                副署人員3
                <% if @yfcase.final_decision == " " %>
                    <%= ' ' %>
                <% else %>
                    <% if @yfcase.subsigntruecs.first == nil %>
                         <%= link_to "副署人員3", new_yfcase_subsigntruec_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                         <%= link_to "副署人員3", yfcase_path(@yfcase), :disabled => true,class: "btn btn-danger btn-sm", style: "border:1px solid gray;background-color:gray;" %>
                    <% end %>
                <% end %>
            </th>
        </tr>
        <tr>
            <td>
                <% if @yfcase.final_decision == "3拍進場" %>
                    <div class="final_decision_style_3">
                        <%= @yfcase.final_decision %>
                    </div>
                <% elsif @yfcase.final_decision == "4拍進場" %>
                    <div class="final_decision_style_4">
                        <%= @yfcase.final_decision %>
                    </div>
                <% elsif @yfcase.final_decision == "放棄" %>
                    <div class="final_decision_style_giveup">
                        <%= @yfcase.final_decision %>
                    </div>
                <% else %>
                    <%= "" %>
                <% end %>
            </td>
            <td>
                  <div class="printcss">
                    <div class="printcss-head">
                      <%= @yfcase.user.first_name %>
                    </div>
                    <div class="printcss-body">
                      <%= @yfcase.final_decision_date %>
                    </div>
                    <div class="printcss-footer">
                      <%= @yfcase.user.last_name %>
                    </div>    
                  </div>

                <!--
                <%= @yfcase.user.first_name %>
                <%= @yfcase.user.last_name %>
                -->
            </td>
            <td>
                <% if @yfcase.subsigntrueas.first == nil %>
                    <%= ' ' %>
                <% else %>
                    <!--
                    <%= @yfcase.subsigntrueas.first.signtruea %>
                    -->
                    <div class="printcss">
                        <div class="printcss-head">
                            <%= @yfcase.subsigntrueas.first.signtruea_first_name %>
                        </div>
                        <div class="printcss-body">
                            <%= @yfcase.subsigntrueas.first.signtruea_date %>
                        </div>
                        <div class="printcss-footer">
                            <%= @yfcase.subsigntrueas.first.signtruea_last_name %>
                        </div>    
                    </div>
                <% end %>
            </td>
            <td>
                <% if @yfcase.subsigntruebs.first == nil %>
                    <%= ' ' %>
                <% else %>
                    <!--
                    <%= @yfcase.subsigntruebs.first.signtrueb %>
                    -->
                    <div class="printcss">
                        <div class="printcss-head">
                            <%= @yfcase.subsigntruebs.first.signtrueb_first_name %>
                        </div>
                        <div class="printcss-body">
                            <%= @yfcase.subsigntruebs.first.signtrueb_date %>
                        </div>
                        <div class="printcss-footer">
                            <%= @yfcase.subsigntruebs.first.signtrueb_last_name %>
                        </div>    
                    </div>
                <% end %>
            </td>
            <td>
                <% if @yfcase.subsigntruecs.first == nil %>
                    <%= ' ' %>
                <% else %>
                    <!--
                    <%= @yfcase.subsigntruecs.first.signtruec %>
                    -->
                    <div class="printcss">
                        <div class="printcss-head">
                            <%= @yfcase.subsigntruecs.first.signtruec_first_name %>
                        </div>
                        <div class="printcss-body">
                            <%= @yfcase.subsigntruecs.first.signtruec_date %>
                        </div>
                        <div class="printcss-footer">
                            <%= @yfcase.subsigntruecs.first.signtruec_last_name %>
                        </div>    
                    </div>
                <% end %>
            </td>
        </tr>
    </table>
</div>
<br>
<% if @yfcase.editable_by?(current_user) && @yfcase.subsigntrueas.blank? %>
    <div id="showitem">
        <%= link_to '轉換成(PDF)', yfcase_path(@yfcase, format: "pdf"),class: "btn btn-success" %>
    	<%= link_to '編輯', edit_yfcase_path(@yfcase),class: "btn btn-primary" %> |
        <%= link_to '返回', yfcases_path,class: "btn btn-info" %>
    </div>
<% else %>
    <div id="showitem">
        <%= link_to '返回', yfcases_path,class: "btn btn-info" %>
    </div>
<% end %>

