<!DOCTYPE html>
<html lang="en">

<head>
    <!--    <meta charset="UTF-8"> -->
    <title>YF評量表</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>

</head>

<body>
    <div class="basedata" style="width:1000px;">
        <h1 class="x110000" style="text-align: center;font-family: 'Noto Sans TC', sans-serif;font-weight: bold;">
            <%= @yfcase.case_number %> YF評量表
        </h1>
        <table style="border:3px solid black;">
            <tr>
                <th class="xa1100 font-th" sytle="font-family: 'Noto Sans TC', sans-serif;">案號</th>
                <td class="xa1200 font-td">
                    <%= @yfcase.case_number %>
                </td>
                <th class="xa1300 font-th">債務人</th>
                <td class="xa1400 font-td">
                    <% if @yfcase.personnals.where(is_debtor: true).count > 1 %>
                    <%= @yfcase.personnals.where(is_debtor: true).first.name %> ...共
                    <%= @yfcase.personnals.where(is_debtor: true).count %>名<br>
                    <%= (@yfcase.co_owner == true ) ? '土地/建物共有人一致' : ' ' %>
                    <% elsif @yfcase.personnals.where(is_debtor: true).count == 1 %>
                    <%= @yfcase.personnals.where(is_debtor: true).first.name %><br>
                    <%= (@yfcase.co_owner == true ) ? '土地/建物共有人一致' : ' ' %>
                    <% else %>
                    <%= ' ' %>
                    <% end %>
                </td>
                <th class="xa1500 font-th">債務人</th>
                <td class="xa1600 font-td">
                    <% if @yfcase.personnals.where(is_creditor: true).count > 1 %>
                    <%= @yfcase.personnals.where(is_creditor: true).first.name %> ...共
                    <%= @yfcase.personnals.where(is_creditor: true).count %>名
                    <% elsif @yfcase.personnals.where(is_creditor: true).count == 1 %>
                    <%= @yfcase.personnals.where(is_creditor: true).first.name %>
                    <% else %>
                    <%= ' ' %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <th class="xa2100 font-th">住址</th>
                <td class="xa2200 font-td" colspan="5">
                    <%= @yfcase.township.try(:zip_code) %>
                    <%= @yfcase.country.try(:name) %>
                    <%= \
                @yfcase.township.try(:name) %>
                    <%= @yfcase.other_address %>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <!-- 土地 -->
    <div class="land" style="width:1000px;">
        <table>
            <tr>
                <th class="xb1100 font-th">地號</th>
                <th class="xb1200 font-th">地號謄本</th>
                <th class="xb1300 font-th">地坪(面積)<br>平方公尺(坪)</th>
                <th class="xb1400 font-th">持分</th>
                <th class="xb1500 font-th">地坪(持分)<br>平方公尺(坪)</th>
                <td class="xb1600 font-th"></td>
                <th class="xb1700 font-th">地坪(面積)<br>平方公尺(坪)</th>
                <td class="xb1800 font-th"></td>
                <th class="xb1900 font-th">建坪(面積)<br>平方公尺(坪)</th>
            </tr>
            <tr>
                <td class="xb2100 font-td">
                    <% @yfcase.lands.each do |land| %>
                    <%= land.land_number %><br>
                    <% end %>
                </td>
                <td class="xb2200 font-td">
                    <% @yfcase.lands.each do |land| %>
                    <%= land.land_url == "" ? ' ' : (link_to "連結", land.land_url, target: "_blank") %><br>
                    <% end %>
                </td>
                <td class="xb2300 font-td">
                    <% @yfcase.lands.each do |land| %>
                    <%= area(land.land_area,1,1,1).round(2) %>(
                    <%= area(land.land_area,1,1,0.3025).round(2) %>)<br>
                    <% end %>
                </td>
                <td class="xb2400 font-td">
                    <% @yfcase.lands.each do |land| %>
                    <%= land.land_holding_point_personal %>/
                    <%= land.land_holding_point_all %><br>
                    <% end %>
                </td>
                <td class="xb2500 font-td">
                    <% @yfcase.lands.each do |land| %>
                    <%= area(land.land_area,land.land_holding_point_personal,land.land_holding_point_all,1).round(2) %>(
                    <%= area(land.land_area,land.land_holding_point_personal,land.land_holding_point_all,0.3025).round(2) %>)<br>
                    <% end %>
                </td>
                <td class="xb2600 font-td"></td>
                <td class="xb2700 font-td">
                    <%= @yfcase.lands.count == 0 ? ' ' : (number_to_currency(@landtotalarea, unit: "", precision: 2)+"("+number_to_currency(@landtotalarea * 0.3025, unit: "", precision: 2)+")") %><br>
                </td>
                <td class="xb2800 font-td"></td>
                <td class="xb2900 font-td">
                    <%= @yfcase.builds.count == 0 ? ' ' : (number_to_currency(@buildtotalarea, unit: "", precision: 2)+"("+number_to_currency(@buildtotalarea * 0.3025, unit: "", precision: 2)+")") %><br>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <!-- 建物 -->
    <div class="build" style="width:1000px;">
        <table>
            <tr>
                <th class="xc1100 font-th;">建號</th>
                <th class="xc1200 font-th">建號謄本</th>
                <th class="xc1300 font-th">建坪(面積)<br>平方公尺(坪)</th>
                <th class="xc1400 font-th">持分</th>
                <th class="xc1500 font-th">建坪(持分)<br>平方公尺(坪)</th>
                <th class="xc1600 font-th">建物型/使用</th>
                <th class="xc1700 font-th">使用分區</th>
            </tr>
            <tr>
                <td class="xc2100 font-td">
                    <% @yfcase.builds.each do |build| %>
                    <%= build.build_number %><br>
                    <% end %>
                </td>
                <td class="xc2200 font-td">
                    <% @yfcase.builds.each do |build| %>
                    <% if build.build_url == "" %>
                    <%= link_to " " %> <br>
                    <% else%>
                    <%= link_to "連結", build.build_url, target: "_blank" %><br>
                    <% end %>
                    <% end %>
                </td>
                <td class="xc2300 font-td">
                    <% @yfcase.builds.each do |build| %>
                    <%= area(build.build_area,1,1,1).round(2) %> (
                    <%= area(build.build_area,1,1,0.3025).round(2) %>)<br>
                    <% end %>
                </td>
                <td class="xc2400 font-td">
                    <% @yfcase.builds.each do |build| %>
                    <%= build.build_holding_point_personal %>/
                    <%= build.build_holding_point_all %><br>
                    <% end %>
                </td>
                <td class="xc2500 font-td">
                    <% @yfcase.builds.each do |build| %>
                    <%= area(build.build_area,build.build_holding_point_personal,build.build_holding_point_all,1).round(2) %> (
                    <%= area(build.build_area,build.build_holding_point_personal,build.build_holding_point_all,0.3025).round(2) %>)<br>
                    <% end %>
                </td>
                <td class="xc2600 font-td">
                    <% @yfcase.builds.each do |build| %>
                    <%= build.build_type_use %><br>
                    <% end %>
                </td>
                <td class="xc2700 font-td">
                    <% @yfcase.builds.each do |build| %>
                    <%= build.use_partition %><br>
                    <% end %>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <!-- 拍賣結果 -->
    <div class="auction" style="width:1000px;">
        <table>
            <tr>
                <th class="xd1100 font-th-12">拍賣日</th>
                <th class="xd1200 font-th-12" colspan="4">拍別<br>(可進場CP值)</th>
                <th class="xd1600 font-th-12">底價(NT)<br><small style="color:red;">各拍建議底價</small></th>
                <th class="xd1700 font-th-12">坪價(NT)</th>
                <th class="xd1800 font-th-12">時價(NT)</th>
                <th class="xd1900 font-th-12">CP</th>
                <th class="xd1a00 font-th-12">點閱</th>
                <th class="xd1b00 font-th-12">監控</th>
                <th class="xd1c00 font-th-12">建議加價</th>
                <th class="xd1d00 font-th-12">保証金</th>
            </tr>
            <!-- 第一拍 -->
            <tr>
                <!-- 拍別：第一拍 -->
                <td class="xd2100 font-td-10">
                    <%= @yfcase.floor_price_1 == 0 ? ' ' : @yfcase.auction_day_1 %>
                </td>
                <th class="xd2200 font-td-10-bk">第一拍</th>
                <th class="xd2300 font-td-10-bk">0.92</th>
                <th class="xd2400 font-td-10-bk">1.15</th>
                <th class="xd2500 font-td-10-bk">1.44</th>
                <!-- 第一拍：底價 -->
                <td class="xd2600 font-td-10">
                    <%= @yfcase.floor_price_1 == 0 ? ' ' : currency_helper(@yfcase.floor_price_1,0) %>
                </td>
                <!-- 第一拍：坪價 -->
                <td class="xd2700 font-td-10">
                    <%= (@yfcase.floor_price_1 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice1,0) %>
                </td>
                <!-- 第一拍：時價 -->
                <td class="xd2800 font-td-10">
                    <%= (@yfcase.floor_price_1 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
                </td>
                <!-- 第一拍：CP值 -->
                <td class="xd2900 font-td-10">
                    <%= (@yfcase.floor_price_1 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice1).round(2) %>
                </td>
                <!-- 第一拍：點閱 -->
                <td class="xd2a00 font-td-10">
                    <%= @yfcase.floor_price_1 == 0 ? ' ' : @yfcase.click_1 %>
                </td>
                <!-- 第一拍：監控 -->
                <td class="xd2b00 font-td-10">
                    <%= @yfcase.floor_price_1 == 0 ? ' ' : @yfcase.monitor_1 %>
                </td>
                <!-- 第一拍：建議加價 -->
                <td class="xd2c00 font-td-10">
                    <%= @yfcase.floor_price_1 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_1,@yfcase.click_1,@yfcase.monitor_1) %>
                </td>
                <!-- 第一拍：保証金 -->
                <td class="xd2d00 font-td-10">
                    <%= @yfcase.floor_price_1 == 0 ? ' ' : currency_helper(@yfcase.margin_1,0) %>
                </td>
            </tr>
            <!-- 第二拍 -->
            <tr>
                <!-- 拍別：第二拍 -->
                <td class="xd3100 font-td-10">
                    <%= @yfcase.floor_price_2 == 0 ? ' ' : @yfcase.auction_day_2 %>
                </td>
                <th class="xd3200 font-td-10-bk">第二拍</th>
                <th class="xd3300 font-td-10-bk">1.15</th>
                <th class="xd3400 font-td-10-bk">1.44</th>
                <th class="xd3500 font-td-10-bk">1.80</th>
                <!-- 第二拍：底價 -->
                <td class="xd3600 font-td-10">
                    <%= @yfcase.floor_price_2 == 0 ? ' ' : currency_helper(@yfcase.floor_price_2,0) %>
                    <!-- 第二拍建議底價 -->
                    <% if @yfcase.floor_price_1 != 0 %>
                    <br><small style="color:red;">
                        <%= currency_helper(@yfcase.floor_price_1 * 0.8 ,0) %></small>
                    <% else %>
                    <%= " " %>
                    <% end %>
                </td>
                <!-- 第二拍：坪價 -->
                <td class="xd3700 font-td-10">
                    <%= (@yfcase.floor_price_2 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice2,0) %>
                </td>
                <!-- 第二拍：時價 -->
                <td class="xd3800 font-td-10">
                    <%= (@yfcase.floor_price_2 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
                </td>
                <!-- 第二拍：CP值 -->
                <td class="xd3900 font-td-10">
                    <%= (@yfcase.floor_price_2 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice2).round(2) %>
                </td>
                <!-- 第二拍：點閱 -->
                <td class="xd3a00 font-td-10">
                    <%= @yfcase.floor_price_2 == 0 ? ' ' : @yfcase.click_2 %>
                </td>
                <!-- 第二拍：監控 -->
                <td class="xd3b00 font-td-10">
                    <%= @yfcase.floor_price_2 == 0 ? ' ' : @yfcase.monitor_2 %>
                </td>
                <!-- 第二拍：建議加價 -->
                <td class="xd3c00 font-td-10">
                    <%= @yfcase.floor_price_2 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_2,@yfcase.click_2,@yfcase.monitor_2) %>
                </td>
                <!-- 第二拍：保証金 -->
                <td class="xd3d00 font-td-10">
                    <%= @yfcase.floor_price_2 == 0 ? ' ' : currency_helper(@yfcase.margin_2,0) %>
                </td>
                <!-- 第二拍：備註 -->
                <td>
                </td>
            </tr>
            <!-- 第三拍 -->
            <tr>
                <!-- 拍別：第三拍 -->
                <td class="xd4100 font-td-10">
                    <%= @yfcase.floor_price_3 == 0 ? ' ' : @yfcase.auction_day_3 %>
                </td>
                <th class="xd4200 font-td-10-bk">第三拍</th>
                <th class="xd4300 font-td-10-bk">1.44</th>
                <th class="xd4400 font-td-10-bk">1.80</th>
                <th class="xd4500 font-td-10-bk">2.25</th>
                <!-- 第三拍：底價 -->
                <td class="xd4600 font-td-10">
                    <%= @yfcase.floor_price_3 == 0 ? ' ' : currency_helper(@yfcase.floor_price_3,0) %>
                    <!-- 第三拍建議底價 -->
                    <% if @yfcase.floor_price_1 != 0 %>
                    <br><small style="color:red;">
                        <%= currency_helper(@yfcase.floor_price_1 * 0.8 * 0.8 ,0) %></small>
                    <% elsif @yfcase.floor_price_2 != 0 %>
                    <br><small style="color:red;">
                        <%= currency_helper(@yfcase.floor_price_2 * 0.8 ,0) %></small>
                    <% else %>
                    <%= " " %>
                    <% end %>
                </td>
                <!-- 第三拍：坪價 -->
                <td class="xd4700 font-td-10">
                    <%= (@yfcase.floor_price_3 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice3,0) %>
                </td>
                <!-- 第三拍：時價 -->
                <td class="xd4800 font-td-10">
                    <%= (@yfcase.floor_price_3 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
                </td>
                <!-- 第三拍：CP值 -->
                <td class="xd4900 font-td-10">
                    <%= (@yfcase.floor_price_3 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice3).round(2) %>
                </td>
                <!-- 第三拍：點閱 -->
                <td class="xd4a00 font-td-10">
                    <%= @yfcase.floor_price_3 == 0 ? ' ' : @yfcase.click_3 %>
                </td>
                <!-- 第三拍：監控 -->
                <td class="xd4b00 font-td-10">
                    <%= @yfcase.floor_price_3 == 0 ? ' ' : @yfcase.monitor_3 %>
                </td>
                <!-- 第三拍：建議加價 -->
                <td class="xd4c00 font-td-10">
                    <%= @yfcase.floor_price_3 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_3,@yfcase.click_3,@yfcase.monitor_3) %>
                </td>
                <!-- 第三拍：保証金 -->
                <td class="xd4d00 font-td-10">
                    <%= @yfcase.floor_price_3 == 0 ? ' ' : currency_helper(@yfcase.margin_3,0) %>
                </td>
                <!-- 第三拍：備註 -->
                <td>
                </td>
            </tr>
            <!-- 第四拍 -->
            <tr>
                <!-- 拍別：第四拍 -->
                <td class="xd5100 font-td-10">
                    <%= @yfcase.floor_price_4 == 0 ? ' ' : @yfcase.auction_day_4 %>
                </td>
                <th class="xd5200 font-td-10-bk">第四拍</th>
                <th class="xd5300 font-td-10-bk">1.80</th>
                <th class="xd5400 font-td-10-bk">2.25</th>
                <th class="xd5500 font-td-10-bk">2.81</th>
                <!-- 第四拍：底價 -->
                <td class="xd5600 font-td-10">
                    <%= @yfcase.floor_price_4 == 0 ? ' ' : currency_helper(@yfcase.floor_price_4,0) %>
                    <!-- 第四拍建議底價 -->
                    <% if @yfcase.floor_price_1 != 0 %>
                    <br><small style="color:red;">
                        <%= currency_helper(@yfcase.floor_price_1 * 0.8 * 0.8 * 0.8 ,0) %></small>
                    <% elsif @yfcase.floor_price_2 != 0 %>
                    <br><small style="color:red;">
                        <%= currency_helper(@yfcase.floor_price_2 * 0.8 * 0.8 ,0) %></small>
                    <% elsif @yfcase.floor_price_3 != 0 %>
                    <br><small style="color:red;">
                        <%= currency_helper(@yfcase.floor_price_3 * 0.8 ,0) %></small>
                    <% else %>
                    <%= " " %>
                    <% end %>
                </td>
                <!-- 第四拍：坪價 -->
                <td class="xd5700 font-td-10">
                    <%= (@yfcase.floor_price_4 == 0 || @yfcase.builds.count == 0) ? ' ' : currency_helper(@pingprice4,0) %>
                </td>
                <!-- 第四拍：時價 -->
                <td class="xd5800 font-td-10">
                    <%= (@yfcase.floor_price_4 == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : currency_helper(@marketprice,0) %>
                </td>
                <!-- 第四拍：CP值 -->
                <td class="xd5900 font-td-10">
                    <%= (@yfcase.floor_price_4 == 0 || @yfcase.builds.count == 0 || @yfcase.objectbuilds.count == 0) ? ' ' : (@marketprice / @pingprice4).round(2) %>
                </td>
                <!-- 第四拍：點閱 -->
                <td class="xd5a00 font-td-10">
                    <%= @yfcase.floor_price_4 == 0 ? ' ' : @yfcase.click_4 %>
                </td>
                <!-- 第四拍：監控 -->
                <td class="xd5b00 font-td-10">
                    <%= @yfcase.floor_price_4 == 0 ? ' ' : @yfcase.monitor_4 %>
                </td>
                <!-- 第四拍：建議加價 -->
                <td class="xd5c00 font-td-10">
                    <%= @yfcase.floor_price_4 == 0 ? ' ' : suggestedincrease(@yfcase.floor_price_4,@yfcase.click_4,@yfcase.monitor_4) %>
                </td>
                <!-- 第四拍：保証金 -->
                <td class="xd5d00 font-td-10">
                    <%= @yfcase.floor_price_4 == 0 ? ' ' : currency_helper(@yfcase.margin_4,0) %>
                </td>
                <!-- 第四拍：備註 -->
                <td>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <!-- 勘查結果 -->
    <div class="attachment" style="width:1000px;">
        <table>
            <tr>
                <th class="xe1100 font-th">初勘日</th>
                <td class="xe1200 font-td">
                    <%= @yfcase.first_survey_day %>
                </td>
            </tr>
            <tr>
                <th class="xe2100 font-th">會勘日</th>
                <td class="xe2200 font-td">
                    <%= @yfcase.other_survey_day %>
                </td>
            </tr>
            <tr>
                <th class="xe3100 font-th">法拍公告(證物三)</th>
                <td class="xe3200 font-td">
                    <%= link_to @yfcase.foreclosure_announcement_title, add_https(@yfcase.foreclosure_announcement_link), target: "_blank" %>
                </td>
            </tr>
            <tr>
                <th class="xe4100 font-th">物件照片(證物四)</th>
                <td class="xe4200 font-td">
                    <%= link_to @yfcase.object_photo_title, add_https(@yfcase.object_photo_link) , target: "_blank" %>
                </td>
            </tr>
            <tr>
                <th class="xe5100 font-th">實價登錄市價</th>
                <td class="xe5200 font-td">
                    <table>
                        <tr class="danger">
                            <th class="xe5211 font-th-10">附件</th>
                            <th class="xe5212 font-th-10">地址(屋齡)</th>
                            <th class="xe5213 font-th-10">總價(萬)</th>
                            <th class="xe5214 font-th-10">建坪(坪)</th>
                            <th class="xe5215 font-th-10">單價(萬)</th>
                            <th class="xe5216 font-th-10">樓高</th>
                            <% if user_signed_in? %>
                            <th class="xe5217 font-th-10">勘查員A</th>
                            <th class="xe5218 font-th-10">加成A</th>
                            <th class="xe5219 font-th-10">勘查員B</th>
                            <th class="xe521a font-th-10">加成B</th>
                            <th class="xe521b font-th-10">計算</th>
                            <% end %>
                        </tr>
                        <% @yfcase.objectbuilds.each do |objectbuild| %>
                        <tr>
                            <td class="xe5221 font-th-10">
                                <% if objectbuild.objectbuild_url == "" %>
                                <%= link_to "" %>
                                <% else %>
                                <%= link_to "連結", objectbuild.objectbuild_url, target: "_blank" %>
                                <% end %>
                            </td>
                            <td class="xe5222 font-th-10">
                                <%= objectbuild.address %>
                                <% if objectbuild.house_age.present? %>
                                <br>(
                                <%= objectbuild.house_age %>年)
                                <% else %>
                                <%= ' ' %>
                                <% end %>
                            </td>
                            <td class="xe5223 font-th-10">
                                <%= objectbuild.total_price %>
                            </td>
                            <td class="xe5224 font-th-10">
                                <%= objectbuild.build_area %>
                            </td>
                            <td class="xe5225 font-th-10">
                                <%= holdingpoint(objectbuild.total_price,objectbuild.build_area).round(2) %>
                            </td>
                            <td class="xe5226 font-th-10">
                                <%= objectbuild.floor_height %>
                            </td>
                            <% if user_signed_in? %>
                            <td class="xe5227 font-th-10">
                                <% if objectbuild.surveyora.present? %>
                                <%= objectbuild.surveyora %>
                                <% elsif objectbuild.surveyorb == (current_user.first_name + current_user.last_name) %>
                                已評
                                <% else %>
                                <%= link_to "待評分", editplusratea_yfcase_objectbuild_path(@yfcase,objectbuild),class: "btn btn-primary btn-sm" %>
                                <% end %>
                            </td>
                            <td class="xe5228 font-th-10">
                                <% @plusa=objectbuild.plusa %>
                                <%= @plusa %>
                            </td>
                            <td class="xe5229 font-th-10">
                                <% if objectbuild.surveyorb.present? %>
                                <%= objectbuild.surveyorb %>
                                <% elsif objectbuild.surveyora == (current_user.first_name + current_user.last_name) %>
                                已評
                                <% else %>
                                <%= link_to "待評分", editplusrateb_yfcase_objectbuild_path(@yfcase,objectbuild),class: "btn btn-primary btn-sm" %>
                                <% end %>
                            </td>
                            <td class="xe522a font-th-10">
                                <% @plusb=objectbuild.plusb %>
                                <%= @plusb %>
                            </td>
                            <td class="xe522b font-th-10">
                                <% @totalmesa = testvalue(objectbuild.total_price.to_f/objectbuild.build_area.to_f,@plusa,@plusb)*10000 %>
                                <%= number_to_currency(@totalmesa, unit: "", precision: 0 ) %>
                            </td>
                            <% end %>
                        </tr>
                        <% end %>
                    </table>
                    <%= link_to @yfcase.net_price_registration_market_price_title, @yfcase.net_price_registration_market_price_link, target: "_blank" %>
                </td>
            </tr>
            <tr>
                <th class="xe6100 font-th">法拍記錄(證物七)</th>
                <td class="xe6200 font-td">
                    <%= link_to @yfcase.auction_record_title, add_https(@yfcase.auction_record_link), target: "_blank" %>
                </td>
            </tr>
        </table>
    </div>
    <br>
<!-- 建物查檢表 -->
<div class="buildchecklist" style="width:1000px;">
    <table>
        <tr>
            <th class="xf1100 font-th">有(是) / 無(否)</th>
            <th class="xf1200 font-th">查檢內容</th>
            <th class="xf1300 font-th">有(是) / 無(否)</th>
            <th class="xf1400 font-th">查檢內容</th>
        </tr>
        <!-- 第一行 -->
        <tr>
            <td class="xf2100 font-td">
                <% if @yfcase.occupy %>
                    V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf2200 font-th">01.建物坐落是否無占用鄰地</th>
            <td class="xf2300 font-td">
                <% if @yfcase.vegetable_market %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf2400 font-th">09.是否鄰近菜市場</th>
        </tr>
        <!-- 第二行 -->
        <tr>
            <td class="xf3100 font-td">
                <% if @yfcase.register %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf3200 font-th">02.建物是否無未保存登記建物</th>
            <td class="xf3300 font-td">
                <% if @yfcase.supermarket %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf3400 font-th">10.是否鄰近大賣場</th>
        </tr>
        <!-- 第三行 -->
        <tr>
            <td class="xf4100 font-td">
                <% if @yfcase.parking_space %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf4200 font-th">03.大樓是否有停車位(機車/汽車)</th>
            <td class="xf4300 font-td">
                <% if @yfcase.school %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf4400 font-th">11.是否鄰近學校</th>
        </tr>
        <!-- 第四行 -->
        <tr>
            <td class="xf5100 font-td">
                <% if @yfcase.management_fee %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf5200 font-th">04.大樓公寓是否有無積欠管理費</th>
            <td class="xf5300 font-td">
                <% if @yfcase.park %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf5400 font-th">12.是否鄰近公園</th>
        </tr>
        <!-- 第五行 -->
        <tr>
            <td class="xf6100 font-td">
                <% if @yfcase.rent %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf6200 font-th">05.有無出租或出借或佔用</th>
            <td class="xf6300 font-td">
                <% if @yfcase.post_office %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf6400 font-th">13.是否鄰近郵局或常用機關</th>
        </tr>
        <!-- 第六行 -->
        <tr>
            <td class="xf7100 font-td">
                <% if @yfcase.leak %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf7200 font-th">06.建物是否無嚴重漏水現象</th>
            <td class="xf7300 font-td">
                <% if @yfcase.main_road %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf7400 font-th">14.是否鄰近幹道</th>
        </tr>
        <!-- 第七行 -->
        <tr>
            <td class="xf8100 font-td">
                <% if @yfcase.easy_parking %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf8200 font-th">07.建物前或附近是否停車方便</th>
            <td class="xf8300 font-td">
                <% if @yfcase.water_and_power_failure %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf8400 font-th">15.是否斷水斷電</th>
        </tr>
        <!-- 第八行 -->
        <tr>
            <td class="xf9100 font-td">
                <% if @yfcase.railway %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf9200 font-th">08.是否鄰近捷運站或台鐵站</th>
            <td class="xf9300 font-td">
                <% if @yfcase.good_vision %>
                  	V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <% else %>
                    X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V
                <% end %>
            </td>
            <th class="xf9400 font-th">16.建物採光視野是否良好</th>
        </tr>
        <!-- 備註 -->
        <tr>
            <th class="xfa100 font-th">備註</th>
            <td class="xfa200 font-td" colspan="3"></td>
        </tr>
    </table>
</div>
<br>
    <!-- 最終判定 -->
    <p style="color:red;margin-bottom: 0px;font-family:標楷體;">※區域負責人不可為副署人員</p>
    <div class="finaldecision" style="width:1000px;">
        <table>
            <tr>
                <!-- 區域負責人 -->
                <% yfcasefullname = @yfcase.user.first_name + @yfcase.user.last_name %>
                <!-- 登入人員 -->
                <% currentfullname = current_user.first_name + current_user.last_name %>
                <!-- 副署人員1 -->
                <% @yfcase.subsigntrueas.first.blank? ? ' ' : subsigntrueafullname = @yfcase.subsigntrueas.first.signtruea %>
                <!-- 副署人員2 -->
                <% @yfcase.subsigntruebs.first.blank? ? ' ' : subsigntruebfullname = @yfcase.subsigntruebs.first.signtrueb %>
                <!-- 副署人員3 -->
                <% @yfcase.subsigntruecs.first.blank? ? ' ' : subsigntruecfullname = @yfcase.subsigntruecs.first.signtruec %>
                <th class="xg1100 font-th">結論</th>
                <th class="xg1200 font-th">區域負責人</th>
                <th class="xg1300 font-th">
                    <% if current_user.role == 1 %>
                    副署人員1
                    <%= link_to "刪除", delete_subsigntruea_yfcase_path(@yfcase),method: :delete,class: "btn btn-info btn-sm" %>
                    <% elsif @yfcase.final_decision.blank? || (@yfcase.final_decision.present? && yfcasefullname == currentfullname) %>
                    <%= '副署人員1' %>
                    <% else %>
                    <% if @yfcase.subsigntrueas.first.blank? %>
                    <%= link_to "副署人員1", new_yfcase_subsigntruea_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                    <%= "副署人員1" %>
                    <% end %>
                    <% end %>
                </th>
                <th class="xg1400 font-th">
                    <% if current_user.role == 1 %>
                    副署人員2
                    <%= link_to "刪除", delete_subsigntrueb_yfcase_path(@yfcase),method: :delete,class: "btn btn-info btn-sm" %>
                    <% elsif @yfcase.final_decision.blank? || (@yfcase.final_decision.present? && yfcasefullname == currentfullname) %>
                    <%= '副署人員2' %>
                    <% elsif @yfcase.final_decision.present? && yfcasefullname != currentfullname && subsigntrueafullname == currentfullname %>
                    <%= '該員已副署' %>
                    <% else %>
                    <% if @yfcase.subsigntruebs.first.blank? && @yfcase.subsigntrueas.first.present? %>
                    <%= link_to "副署人員2", new_yfcase_subsigntrueb_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                    <%= "副署人員2" %>
                    <% end %>
                    <% end %>
                </th>
                <th class="xg1500 font-th">
                    <% if current_user.role == 1 %>
                    副署人員3
                    <%= link_to "刪除", delete_subsigntruec_yfcase_path(@yfcase),method: :delete,class: "btn btn-info btn-sm" %>
                    <% elsif  @yfcase.final_decision.blank? || (@yfcase.final_decision.present? && yfcasefullname == currentfullname) %>
                    <%= '副署人員3' %>
                    <% elsif @yfcase.final_decision.present? && yfcasefullname != currentfullname && ((subsigntrueafullname == currentfullname && subsigntruebfullname != currentfullname) || (subsigntrueafullname != currentfullname && subsigntruebfullname == currentfullname)) %>
                    <%= '該員已副署' %>
                    <% else %>
                    <% if @yfcase.subsigntruecs.first.blank? && @yfcase.subsigntruebs.first.present? %>
                    <%= link_to "副署人員3", new_yfcase_subsigntruec_path(@yfcase),class: "btn btn-primary btn-sm" %>
                    <% else %>
                    <%= "副署人員3" %>
                    <% end %>
                    <% end %>
                </th>
            </tr>
            <tr>
                <td class="xg2100 font-td">
                    <% if @yfcase.final_decision == "3拍進場" %>
                    <div class="final_decision_style_3">
                        <%= @yfcase.final_decision %>
                    </div>
                    <% elsif @yfcase.final_decision == "4拍進場" %>
                    <div class="final_decision_style_4">
                        <%= @yfcase.final_decision %>
                    </div>
                    <% elsif @yfcase.final_decision == "放棄" %>
                    <div class="final_decision_style_giveup">
                        <%= @yfcase.final_decision %>
                    </div>
                    <% else %>
                    <%= "" %>
                    <% end %>
                </td>
                <td class="xg2200 font-td">
                    <div class="printcss" style="margin-left:35px;margin-top:0px;">
                        <div class="printcss-head">
                            <%= @yfcase.user.first_name %>
                        </div>
                        <div class="printcss-body">
                            <%= @yfcase.final_decision_date.blank? ? '待結論判定' : @yfcase.final_decision_date %>
                        </div>
                        <div class="printcss-footer">
                            <%= @yfcase.user.last_name %>
                        </div>
                    </div>
                    <!--
                <%= @yfcase.user.first_name %>
                <%= @yfcase.user.last_name %>
                -->
                </td>
                <td class="xg2300 font-td">
                    <% if @yfcase.subsigntrueas.first.blank? %>
                    <%= ' ' %>
                    <% else %>
                    <div class="printcss" style="margin-left:35px;margin-top:0px;">
                        <div class="printcss-head">
                            <%= @yfcase.subsigntrueas.first.signtruea_first_name %>
                        </div>
                        <div class="printcss-body">
                            <%= @yfcase.subsigntrueas.first.signtruea_date %>
                        </div>
                        <div class="printcss-footer">
                            <%= @yfcase.subsigntrueas.first.signtruea_last_name %>
                        </div>
                    </div>
                    <% end %>
                </td>
                <td class="xg2400 font-td">
                    <% if @yfcase.subsigntruebs.first.blank? %>
                    <%= ' ' %>
                    <% else %>
                    <div class="printcss" style="margin-left:35px;margin-top:0px;">
                        <div class="printcss-head">
                            <%= @yfcase.subsigntruebs.first.signtrueb_first_name %>
                        </div>
                        <div class="printcss-body">
                            <%= @yfcase.subsigntruebs.first.signtrueb_date %>
                        </div>
                        <div class="printcss-footer">
                            <%= @yfcase.subsigntruebs.first.signtrueb_last_name %>
                        </div>
                    </div>
                    <% end %>
                </td>
                <td class="xg2500 font-td">
                    <% if @yfcase.subsigntruecs.first.blank? %>
                    <%= ' ' %>
                    <% else %>
                    <!--
                    <%= @yfcase.subsigntruecs.first.signtruec %>
                    -->
                    <div class="printcss" style="margin-left:35px;margin-top:0px;">
                        <div class="printcss-head">
                            <%= @yfcase.subsigntruecs.first.signtruec_first_name %>
                        </div>
                        <div class="printcss-body">
                            <%= @yfcase.subsigntruecs.first.signtruec_date %>
                        </div>
                        <div class="printcss-footer">
                            <%= @yfcase.subsigntruecs.first.signtruec_last_name %>
                        </div>
                    </div>
                    <% end %>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>